.App {
  position: relative;
  margin:0 auto;
  padding: 20px 0px;
  width: 50%;
  height: calc(100vh - 50px);;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  .input-bar{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
  .todo {
    display: flex;
    align-items: center;
    position: relative;
    background-color: aliceblue;
    border-radius: 16px;
    padding: 12px;
    min-height: 48px;
    margin-bottom: 12px;
    .right{
      margin-right: 32px;
      // text-decoration:line-through;
    }
    .del {
      position: absolute;
      top: 12px;
      right: 12px;
      transition: 0.3s all;
      cursor: pointer;
      &:hover{
        transform: scale(1.3);
      }
    }
  }
}