.App {
  position: relative;
  margin: 48px auto;
  width: 50%;
  height: 50vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .todo {
    display: flex;
    align-items: center;
    position: relative;
    background-color: aliceblue;
    border-radius: 16px;
    padding: 12px;
    min-height: 48px;
    margin-bottom: 12px;
    .right{
      margin-right: 32px;
      // text-decoration:line-through;
    }
    .del {
      position: absolute;
      top: 12px;
      right: 12px;
      transition: 0.3s all;
      cursor: pointer;
      &:hover{
        transform: scale(1.3);
      }
    }
  }
}